body{
	margin:0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	line-height: 30px;
}
header{
	background-color: darkorange;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
h1, h2{font-family: 'Press Start 2P', cursive;}
header h1{
	color: white;
	
	}
header img{border-radius: 170px;
width: 300px;
border: 10px solid whitesmoke;}
main{max-width: 800px;
margin: 0 auto;
padding: 0 20px;}
main img{max-width: 100%;
margin: 0 auto;
padding:  20px;
background-color: darkorange;}
h2{font-size: 35px;
color: darkorange;}
a{
	color: darkorange ;
}
a:hover{
	color: hotpink;
}
footer{
	background-color: darkorange;
	text-align: center;
	color: white;
	padding:50px;}
footer a{color: white;
opacity: .5;
background-color: transparent;}

p.caption {
	color: lightgrey;
	font-style: italic ;
	margin-top: 0;
}